* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-container {
    display: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 25px;
}

body {
    height: 100vh;
}

/* SIDEBAR */
header h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 40px;
    font-size: 128px;
    line-height: 55px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    letter-spacing: -7.5px;
    color: #DB4A2B;
    max-width: fit-content;
}

#semi-main-font {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    display: flex;
    justify-content: flex-end;
    margin-left: 35px;
    letter-spacing: normal;
    color: black;
}

#sidebar-container {
    position: fixed;
    height: 100vh;
    margin-left: 10px;
    display: grid;
    grid-template-rows: min-content;
}

#sidebar-container nav {
    width: 121px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

#sidebar-container nav a {
    height: 121px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
}

#sidebar-container nav a:hover {
    text-decoration: underline;
    font-size: 35px;
    transition: font-size 1s;
}

nav a:hover {
    text-decoration: underline;
}

#sidebar-container ul {
    list-style: none;
    display: grid;
    grid-template-columns: 121px;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 100px;
    width: 121px;
}

#sidebar-container li {
    rotate: -90deg;
    display: flex;
    justify-content: center;
}

/* FOOTER DESIGN */

footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

#footer-nav {
    list-style: none;
    display: flex;
    margin-top: auto;
    justify-content: center;
}

footer h2 {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

#footer-name {
    font-size: 15px;
}

#footer-nav li {
    padding: 0px 10px;
    font-size: 12px;
}